.register-form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 140px;

}

.register-step2 {
    width: 200px;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
}